In [3]:
#load the data
import pandas as pd
base = pd.read_csv('dados_faltantes_exercicio1.csv')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome         200 non-null    object
 1   Idade        98 non-null     float64
 2   Gênero       200 non-null    object
 3   Cidade       200 non-null    object
 4   Renda Anual  99 non-null     float64
dtypes: float64(2), object(3)
memory usage: 7.9+ KB

In [4]:
#display the first five rows
base.head()

     Nome  Idade Gênero          Cidade  Renda Anual
0   Lucas   23.0      F        Brasília      99047.0
1   Maria   25.0      F        Curitiba      93637.0
2   Carla   56.0      M  Belo Horizonte      86960.0
3   Lucas    NaN      F       Fortaleza          NaN
4  Carlos   25.0      F  Belo Horizonte          NaN

In [5]:
#counting the missing values by column
base.isna().sum()

Nome             0
Idade          102
Gênero           0
Cidade           0
Renda Anual    101
dtype: int64

In [15]:
#identifying the missing values of 'Idade'
base.loc[base.Idade.isnull(),'Idade']

3     NaN
7     NaN
8     NaN
10    NaN
11    NaN
       ..
193   NaN
195   NaN
196   NaN
197   NaN
199   NaN
Name: Idade, Length: 102, dtype: float64

In [16]:
#identifying the missing values of 'Renda Anual'
base.loc[base['Renda Anual'].isnull(),'Renda Anual']

3     NaN
4     NaN
8     NaN
10    NaN
12    NaN
       ..
190   NaN
193   NaN
194   NaN
195   NaN
196   NaN
Name: Renda Anual, Length: 101, dtype: float64

In [17]:
#Fill the gaps in the 'Idade' column with the mean
base['Idade']=base['Idade'].fillna(base['Idade'].mean())
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome         200 non-null    object
 1   Idade        200 non-null    float64
 2   Gênero       200 non-null    object
 3   Cidade       200 non-null    object
 4   Renda Anual  99 non-null     float64
dtypes: float64(2), object(3)
memory usage: 7.9+ KB

In [20]:
#Remove the rows with missings values in the column 'Renda Anual'
base = base.dropna(subset=['Renda Anual'])

In [22]:
#display the data
display(base)

       Nome      Idade Gênero          Cidade  Renda Anual
0     Lucas  23.000000      F        Brasília      99047.0
1     Maria  25.000000      F        Curitiba      93637.0
2     Carla  56.000000      M  Belo Horizonte      86960.0
5     Paulo  48.000000      M        Curitiba      90292.0
6     Pedro  56.000000      M       São Paulo      97838.0
..      ...        ...    ...             ...          ...
191   Joana  38.112245      F        Curitiba      63013.0
192   Paulo  47.000000      M  Belo Horizonte      68585.0
197     Ana  38.112245      M  Rio de Janeiro      51959.0
198  Marcos  55.000000      M        Brasília      68428.0
199   Paulo  38.112245      F  Rio de Janeiro      94581.0

[99 rows x 5 columns]

In [23]:
#saving the data
base.to_csv('dados_limpos.csv')